@import 'variaveis.css';

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding-top: 100px;
}

.home-img{
    width: 800px;
    height: 450px;
    padding: 2px;
}

.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-title span{
    color: var(--main-color);
    font-weight: 900;
    font-size: var(--big-font);
}

.home-title h1{
    font-size: 2.5em;
    margin: 23px 0;
}

.home-title p{
    font-size: 1.4em;
    font-weight: 900;
    color: var(--main-color);
    line-height: 30px;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    padding: 14px 34px;
    background: var(--main-color);
    color: #000;
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    width: 280px;
    margin-bottom: 10px;
    transition: all 0.6s ease-in-out;
}

.btn:hover{
    transform: translateY(5px);
    background: transparent;
    color: var(--main-color);
}

.btn-contato{
    background: #141414;
    border: 2px solid #141414;
    color: var(--text-color);
    margin-left: 25px;
}

.btn-contato:hover{
    color: #141414;
    background: var(--main-color);
    border: 2px solid var(--text-color);
}

@media (max-width: 1020px){

    :root{
        --big-font: 5rem;
        --small-font: 1rem;
        transition: .2s;
    }
}


@media (max-width: 950px ){   

    .home{
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .home-title{
        order: 2;
    }

    .home-img{
        margin: auto;
        height: auto;
        width: auto;
    }

    .home-img img{
        max-width: 450px;
        width: 100%;
        height: auto;

    }
}

@media (max-width: 850px){

    .btn{
        margin-left: 5px;
    }     
}


@media(max-width: 500px){

    :root{
        --big-font: 4rem;
        --small-font: 15px;
        transition: .2s;
    }

    .btn{
        padding: 9px 28px;
    }
}



