@import 'variaveis.css';
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Metal+Mania&family=New+Rocker&family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    font-family: 'Metal Mania', cursive;
}

section{
    padding: 0 15%;
}

@media (max-width: 1850px) {

    section{
        padding: 0 8%;
        transition: .2s;
    }

}

  @media (max-width: 1370px) {

    section{
        padding: 0 4%;
        transition: .2s;
    }

    :root{
        --big-font: 5.5rem;
        --small-font: 1rem;
        transition: .2s;

    }
    
}

@media (max-width: 1020px){

    :root{
        --big-font: 5rem;
        --small-font: 1rem;
        transition: .2s;
    }
}

@media (max-width: 950px ){

    section{
        padding: 70px 4%;
    }      
}

@media (max-width: 850px){

        
}



@media(max-width: 500px){

    
}


