:root{
    --bg-color:#212529; 
    --text-color: #fff;
    --main-color: #D5B981; 
    --small-font: 1.1rem;
    --medium-font: 4rem;
    --big-font: 7rem;
    --font-links: 2rem;
    --card-font-color: #181111;
    --bg-color-2: #1f1f21;
    --main-color-2: #ffae00;
}
